<% @mailchimp = Mailchimp.find_by_list_id(list_id) || Mailchimp.new %>

<%= form_for(@mailchimp, :url => @mailchimp) do |f| %>
  <div class="row collapse">
    <div class="ten mobile-three columns">
      <%= f.radio_button :subscribe_method, 'all' %>
      <%= f.label :subscribe_method, 'Subscribe all contacts', :value => 'all' %>
      <br />
      <%= f.radio_button :subscribe_method, 'tag' %>
      <%= f.label :subscribe_method, 'Subscribe only contacts tagged to this list', :value => 'tag' %>
      <br />
      <%= f.radio_button :subscribe_method, 'off' %>
      <%= f.label :subscribe_method, 'Do not subscribe any contacts to this list', :value => 'off' %>
    </div>
  </div>
    <div class="two mobile-one columns">
      <%= f.submit "Update List Preferences", :class => "nice button small" %>
    </div>
<% end %>
