<h1>Your account</h1>

<h3>Update your information</h3>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="actions"><%= f.submit "Update" %></div>
<% end %>

<h3>Your organization:</h3> 
<h4><%= current_user.group.name %></h4>
  <ul>
    <% current_user.group.users.each do |user| %>
      <li><%= user.full_name %></li>
    <% end %>
  </ul>
  
<% if current_user.admin  %>
  <%= link_to "Invite people to your group", new_invitation_path %>
  
  
  <h3>Change your group's name</h3>

  <%= form_for @group do |f| %>
    <% if @group.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="actions"><%= f.submit "Update" %></div>
  <% end %>
<% end %>