<h4>Settings</h4>

<% if current_user.admin %>
  <fieldset>
    <legend>Invite people to your account</legend>
    <%= simple_form_for @invitation do |f| %>        
      <%= f.input :recipient_full_name, :label => 'Full name' %>
      <%= f.input :recipient_email, :label => 'Email' %>
      <%= f.button :submit, "Send Invitation", :class => 'small' %>
    <% end %>
    </fieldset>
<% end %>

  <fieldset>
    <legend>Your company</legend> 
    <h4><%= current_user.group.name %></h4>
    <p>People with access to your group's contacts</p>
      <ul>
        <% current_user.group.users.each do |user| %>
          <li><%= user.full_name %></li>
        <% end %>
      </ul>
    </fieldset>

<% if current_user.admin %>
  <fieldset>
    <legend>Change your company's name</legend>
    <%= simple_form_for @group do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, "Update", :class => 'small' %>
    <% end %>
  </fieldset>
<% end %>

<% if current_user.admin %>
  <fieldset>
    <legend>Your current plan</legend>
    <h4><%= current_user.user_plan %> plan</h4>
    <% if current_user.user_plan == "Free" %>
      <p>With the free plan your group can have up to 20 contacts. Upgrade to our Pro plan to get unlimited contacts</p>
    <% end %>
    <% if current_user.user_plan == "Pro" %>
      <p>With the pro plan your group can have unlimited contacts.</p>
    <% end %>
  </fieldset>
<% end %>

  <fieldset>
    <legend>Update your information</legend>
    <%= simple_form_for @user do |f| %>
      <%= f.input :full_name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.button :submit, "Update", :class => 'small' %>
    <% end %>
  </fieldset>
  
  <fieldset>
    <legend>Export your contacts</legend>
    <%= button_to "Export to CSV", "/contacts.csv", :method => 'get', :class => 'nice button small' %>
    <p>CSV (comma separated values) files can be imported to Gmail, Microsoft Outlook, Microsoft Excel, 
      and many other popular database and contact management applications.</p>
  </fieldset>


  
