<h4>Settings</h4>

<% if current_user.admin %>
<ul class="accordion">
  <li class="active">
    <div class="title">
      <h5>Invite people to your account</h5>
    </div>
    <div class="content">
      <%= simple_form_for @invitation do |f| %>        
        <%= f.input :recipient_full_name, :label => 'Full name' %>
        <%= f.input :recipient_email, :label => 'Email' %>
        <%= f.button :submit, "Send Invitation", :class => 'small' %>
      <% end %>
    </div>
  </li>
</ul>
<% end %>

<ul class="accordion">
  <li>
    <div class="title">
      <h5>Modify your company or group</h5> 
    </div>
    <div class="content">
      <h5 style="margin-top:0px"><%= current_user.group.name %></h5>
      <p>People with access to your group's contacts:</p>
        <% current_user.group.users.each do |user| %>
          <p><%= user.full_name %></p>
        <% end %>
      <% if current_user.admin %>
          <h5>Change your company's name</h5>
          <%= simple_form_for @group do |f| %>
            <%= f.input :name %>
            <%= f.button :submit, "Update", :class => 'small' %>
          <% end %>
      <% end %>
    </div>
  </li>
</ul>

<% if current_user.admin %>
<ul class="accordion">
  <li>
    <div class="title">
      <h5>Change your plan</h5> 
    </div>
    <div class="content">
      <h5 style="margin-top:0px"><%= current_user.user_plan %> plan</h5>
      <% if current_user.user_plan == "Free" %>
        <p>With the free plan your group can have up to 20 contacts. Upgrade to our Pro plan to get unlimited contacts</p>
        <%= button_to "Upgrade now", new_subscription_path, :method => 'get', :class => 'nice button small' %>
      <% end %>
      <% if current_user.user_plan == "Pro" %>
        <p>With the pro plan your group can have unlimited contacts.</p>
      <% end %>
    </div>
  </li>
</ul>
<% end %>

<ul class="accordion">
  <li>
    <div class="title">
      <h5>Update your information</h5> 
    </div>
    <div class="content">
      <%= simple_form_for @user do |f| %>
        <%= f.input :full_name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.button :submit, "Update", :class => 'small' %>
      <% end %>
    </div>
  <li>
</ul>

<ul class="accordion">
  <li>
    <div class="title">
      <h5>Export your contacts</h5> 
    </div>
    <div class="content">
      <%= button_to "Export to CSV", "/contacts.csv", :method => 'get', :class => 'nice button small' %>
      <p>CSV (comma separated values) files can be imported to Gmail, Microsoft Outlook, Microsoft Excel, 
        and many other popular database and contact management applications.</p>
    </div>
  </li>
</ul>

  
