<% if current_user.admin %>
<ul class="settings-section">

  <li class="active">
    <div class="title">
      <h4>Invite people to your account</h4>
    </div>
    <div class="content">
      <%= simple_form_for @invitation do |f| %>
        <%= f.input :recipient_full_name, :label => 'Full name' %>
        <%= f.input :recipient_email, :label => 'Email' %>
        <%= f.button :submit, "Send Invitation", :class => 'small' %>
      <% end %>
    </div>
  </li>
</ul>
<% end %>

<ul class="settings-section">
  <hr>
  <li>
    <div class="title">
      <h4>Modify your company or group</h4>
      <br>
    </div>
    <div class="content">
      <h5 style="margin-top:0px">Users</h5>
      <ul>
        <% current_user.group.users.each do |user| %>
          <li style="list-style-type:circle"><%= user.full_name %></li>
        <% end %>
      </ul>
      <br>
      <% if current_user.admin %>
          <h5>Change your company's name</h5>
          <%= simple_form_for @group do |f| %>
            <%= f.input :name, label: false %>
            <%= f.button :submit, "Update", :class => 'small' %>
          <% end %>
      <% end %>
    </div>
  </li>
</ul>

<% if current_user.admin %>
  <ul class="settings-section">
    <hr>
    <li>
      <div class="title">
        <h4>Mailchimp</h4>
      </div>
      <div class="content">
        <%= simple_form_for @group do |f| %>
          <%= f.input :mailchimp, label: "Add Company or Group's Mailchimp API Key" %>
          <%= f.button :submit, "Update", :class => 'small' %>
        <% end %>
          <% if @group.mailchimp.present? %>
            <% i = 1 %>
            <% current_user.mailchimp_lists.each do |list| %>
              <h5>
                <%= list["name"] %>
              </h5>
              <%= render 'mailchimps/form', :list_id => list["id"], :list_name => list["name"] %>
              <br />
            <% end %>
          <% end %>
      </div>
    </li>
  </ul>
<% end %>

<% if current_user.admin %>
<ul class="settings-section">
  <hr>
  <li>
    <div class="title">
      <h4>Change your plan</h4>
    </div>
    <div class="content">
      <h5 style="margin-top:0px">Current Plan: <%= current_user.user_plan %> plan</h5>
      <% if current_user.user_plan == "Free" %>
        <p>With the free plan your group can have up to 200 contacts. Upgrade to our Pro plan to get unlimited contacts</p>
        <%= button_to "Upgrade now", new_subscription_path, :method => 'get', :class => 'nice button small' %>
      <% end %>
      <% if current_user.user_plan == "Pro" %>
        <p>With the pro plan your group can have unlimited contacts.</p>
      <% end %>
    </div>
  </li>
</ul>
<% end %>

<ul class="settings-section">
  <hr>
  <li>
    <div class="title">
      <h4>Update your information</h4>
    </div>
    <div class="content">
      <%= simple_form_for @user do |f| %>
        <%= f.input :full_name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.button :submit, "Update", :class => 'small' %>
      <% end %>
    </div>
  <li>
</ul>


<ul class="settings-section">
  <hr>
  <li>
    <div class="title">
      <h4>Export your contacts</h4>
    </div>
    <div class="content">
      <%= button_to "Export to CSV", "/contacts.csv", :method => 'get', :class => 'nice button small' %>
      <p>CSV (comma separated values) files can be imported to Gmail, Microsoft Outlook, Microsoft Excel,
        and many other popular database and contact management applications.</p>
    </div>
  </li>
</ul>
