<h1>Sign up</h1>

<%= simple_form_for @user do |f| %>
  <%#= render "shared/error_messages", :target => @user %>

  <%= f.input :full_name, :class => 'error', :required => false, :input_html => { :value => '' } %>
  
  <%= label_tag :group_name, "Company or Group" %>
  <%= text_field_tag :group_name, nil, autocomplete: "off" %>

  <%= f.input :email, :class => 'error', :required => false %>

  <%= f.input :password, :required => false %>

  <div class="actions"><%= f.submit "Sign Up", :class => 'button medium radius' %></div>
<% end %>

<p>Already have an account? <%= link_to "Sign in.", signin_path %>
