<div class="contacts">

  <% if contacts.any? %>
    <% contacts.each do |contact| %>
      <div class="contact_info">
        <h4 class="contact_link">
          <span class="first_name"><%= contact.first_name %></span> <%= contact.last_name %><span class="title"><%= "#{contact.title} at " unless contact.title == nil || contact.title.length < 1 %> <%= contact.company %></span><span class="arrow right">&#8595;</span>
        </h4>
        <div class="hidden_info">
          <% if contact.tags.present? %>
            Tags:
            <% i = 0 %>
            <% num_tags = contact.tags.count %>
            <% contact.tags.each do |tag| %>
              <% i += 1 %>
              <%= link_to tag.name, tag_path(tag), :class => 'index_tag' %>
              <% if i < num_tags %>
                <span class="comma">,</span>
              <% end %>
            <% end %>
            <br />
          <% end %>
          <% if contact.notes.present? %>
            Notes:
            <% i = 0 %>
            <% num_notes = contact.notes.count %>
            <% contact.notes.each do |note| %>
              <% i += 1 %>
              <%= note.content %>
              <% if i < num_notes %>
                <span class="comma">. </span>
              <% end %>
            <% end %>
            <br />
          <% end %>
          <%= number_to_phone(contact.phone) %><br />
          <%= mail_to "#{contact.email}" %>
          <%= link_to "View contact", contact_path(contact), :class => "pull-right" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="blank_contacts panel radius" style="clear:both">
      <% if displaying == "all" %>
        <h5>Welcome to TinyContacts!</h5>
        <p>You can start adding contacts by clicking on "New contact" above.</p>
        <p>You can add other people to your company or group by clicking on "Settings" in the top navigation.</p>
        <p>Enjoy!</p>
      <% else %>
        <h5>There are no contacts for this tag.</h5>
        <p>You can add tags to contacts from the "View Contact" button on the "Contacts" tab.</p>
      <% end %>
    </div>
  <% end %>

</div>
