<%= nested_form_for(@contact, :html => {:class => "new_contact_form"}) do |f| %>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :first_name, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :first_name, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :last_name, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :last_name, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :company, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :company, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :email, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :email, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :phone, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :phone, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :street_address, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :street_address, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :city, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :city, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :state, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :state, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :zip, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :zip, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :website, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :website, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :facebook, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :facebook, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :twitter, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :twitter, :class => "five" %>
    </div>
  </div>
  
    <%= f.fields_for :notes do |note| %>
      <div class="row">    
        <div class="two mobile-one columns">
          <%= note.label :content, "Note", :class => "right" %>
        </div>
        <div class="ten mobile-three columns">
          <%= note.text_field :content, :class => "five" %>
          <%= note.link_to_remove "Remove" %>
        </div>
      </div>  
    <% end %>
    <%= f.link_to_add "Add note", :notes %>    

  <br>
  <br>
  
  <div class="actions">
    <%= f.submit "Add contact", :class => 'button medium success radius' %>
  </div>
<% end %>

