<div class="add_contact">  
  <%= link_to 'New contact', new_contact_path %>
</div>

<div class="contacts">
<% @contacts.each do |contact| %>
  <div class="contact_info">
    <h4 class="contact_link">
      <a href="#"><%= contact.first_name %> <%= contact.last_name %><span class="arrow right">&#8595;</span></a>
    </h3>
    <div class="hidden_info">
      <%= contact.company %><br />
      <%= contact.phone %><br />
      <%= mail_to "#{contact.email}" %><br />
      <%= link_to "View contact", contact_path(contact) %><br />
      <%= link_to "Add note", "#", "data-reveal-id" => "myModal" %>
    </div>
  </div>
<% end %>
</div>

<div id="myModal" class="reveal-modal">
<%= render 'notes/form' %>
</div>
