<h4 style="display:inline">
  <%= @contact.first_name %> <%= @contact.last_name %>
</h4>
<%= link_to 'Edit contact', edit_contact_path(@contact), :class => "pull-right" %>

<p>
  <% if @contact.title.present? %>
    <%= @contact.title %> at <%= @contact.company %><br />
  <% else %>
    <%= @contact.company %><br />
  <% end %>
  <%= mail_to @contact.email %><br />
  <% if @contact.personal_email %>
    <%= mail_to @contact.personal_email %><br />
  <% end %>
  <%= @contact.phone %>
</p>

<p>
  <%= @contact.street_address %><br />
  <%= @contact.city %>
  <%= @contact.state %>
  <%= @contact.zip %>
</p>

<p>
  <b>Website:</b>
  <%= link_to "#{@contact.website}", "http://#{@contact.website}" %>
</p>

<p>
  <b>LinkedIn:</b>

  <%= link_to "#{@contact.linkedin}", "http://www.linkedin.com/in/#{@contact.linkedin}" %>
</p>

<p>
  <b>Twitter:</b>
  <%= link_to "#{@contact.twitter}", "http://twitter.com/#{@contact.twitter}" %>
</p>

<% if @contact.notes.any? %>
  <div>
    <h4>Notes:</h4>
      <ul class="notes">
        <% @contact.notes.each do |note| %>
          <%= render 'notes/note', :note => note %>
        <% end %>
      </ul>
    </div>
<% end %>

<p><b>Add note</b></p>
<%= render 'notes/form' %>

<% if @contact.tags.any? %>
  <div>
    <h4>Tags:</h4>
      <ul>
        <% @contact.tags.each do |tag| %>
          <li id="tag_<%= tag.id %>">
            <%= link_to tag.name, tag_path(tag) %> <%= tag.created_at.strftime("(%b %e)") %>
            <%= link_to "X", tag_path(tag), method: :delete, remote: true, class: "delete_note" %>
          </li>
        <% end %>
      </ul>
    </div>
<% end %>

<p><b>Add tag</b></p>
<%= render 'tags/form' %>


<%#= link_to "Add note", "#", "data-reveal-id" => "myModal" %>

<div id="myModal" class="reveal-modal">
<a class="close-reveal-modal">×</a>
  <p>Add note for<br><%= @contact.first_name %> <%= @contact.last_name %></p>

</div>


