<div class="contact_card">
  <div class="contact_card_top">
    <div class="contacts">
      <h4 style="display:inline">
        <span class="first_name"><%= @contact.first_name %> </span><%= @contact.last_name %>
      </h4>
      <%= link_to 'Edit contact', edit_contact_path(@contact), :class => "pull-right" %>
    </div>

    <h5 style="color:#444">
      <% if @contact.title.present? %>
        <%= @contact.title %> at <%= @contact.company %><br />
      <% else %>
        <%= @contact.company %><br />
      <% end %>
    </h5>
  </div>
  <div class="left-half">
    <p>
      <% if @contact.email %>
        <b>w:</b> <%= mail_to @contact.email %><br />
      <% end %>
      <% if @contact.personal_email %>
        <b>p:</b> <%= mail_to @contact.personal_email %><br />
      <% end %>
      <% if @contact.phone %>
        <b>w:</b> <%= number_to_phone(@contact.phone) %>
      <% end %>
      <% if @contact.cell %>
        <b>&nbsp;&nbsp;c:</b> <%= number_to_phone(@contact.cell) %>
      <% end %>
    </p>
  </div>
  <div class="right-half">
    <p>
      <% if @contact.website.present? %>
          <b>Website:</b>
          <span class="website"><%= link_to "#{@contact.website}", "http://#{@contact.website}" %></span><br />
      <% end %>

      <% if @contact.linkedin.present? %>
          <b>LinkedIn:</b>
          <span class="linkedin"><%= link_to "#{@contact.linkedin}", "http://www.linkedin.com/in/#{@contact.linkedin}" %></span><br />
      <% end %>

      <% if @contact.twitter.present? %>
          <b>Twitter:</b>
          <span class="twitter"><%= link_to "#{@contact.twitter}", "http://twitter.com/#{@contact.twitter}" %></span><br />
      <% end %>

      <% if @contact.street_address.present? %>
          <b style="float:left">Address:</b>
          <span class="address">
            <%= @contact.street_address %><br />
            <%= @contact.city %>,
            <%= @contact.state %>
            <%= @contact.zip %>
          </span>
      <% end %>
    </p>
  </div>
</div>
<!-- END CONTACT CARD -->


<div class="subheader_container">
  <h4 class="subheader_text">Notes</h4>
</div>
<% if @contact.notes.any? %>
  <ul class="notes">
    <% @contact.notes.each do |note| %>
      <%= render 'notes/note', :note => note %>
    <% end %>
  </ul>
<% else %>
<p></p>
<% end %>

<%= render 'notes/form' %>

<div class="subheader_container">
  <h4 class="subheader_text">Tags</h4>
</div>
<% if @contact.tags.any? %>
  <ul class="notes">
    <% @contact.tags.each do |tag| %>
      <li id="tag_<%= tag.id %>">
        <%= link_to image_tag("iconmonstr-trash-can-15-icon.png", :class => 'trash-can'), tag_path(tag), method: :delete, remote: true %>
        <%= link_to tag.name, tag_path(tag) %> <%= tag.created_at.strftime("(%b %e)") %>
      </li>
    <% end %>
  </ul>
<% else %>
<p></p>
<% end %>

<%= render 'tags/form' %>


<%#= link_to "Add note", "#", "data-reveal-id" => "myModal" %>

<div id="myModal" class="reveal-modal">
<a class="close-reveal-modal">×</a>
  <p>Add note for<br><%= @contact.first_name %> <%= @contact.last_name %></p>

</div>


