<p id="notice"><%= notice %></p>

<h4>
  <%= @contact.first_name %> <%= @contact.last_name %>
</h4>

<%= link_to 'Edit', edit_contact_path(@contact) %>

<p>
  <%= @contact.company %><br />
  <%= @contact.email %><br />
  <%= @contact.phone %>
</p>

<p>
  <b>Address:</b><br />
  <%= @contact.street_address %><br />
  <%= @contact.city %>
  <%= @contact.state %>
  <%= @contact.zip %>
</p>

<p>
  <b>Website:</b>
  <%= link_to "#{@contact.website}", @contact.website %>
</p>

<p>
  <b>Facebook:</b>
  
  <%= link_to "#{@contact.facebook}", "http://www.facebook.com/#{@contact.facebook}" %>
</p>

<p>
  <b>Twitter:</b>
  <%= link_to "#{@contact.twitter}", "http://twitter.com/#{@contact.twitter}" %>
</p>

<% if @contact.notes.any? %>
  <ul>
    <% @contact.notes.each do |note| %>
      <li><%= note.content %> <%= note.created_at %></li>
    <% end %>
  </ul>
<% end %>


