<h4 style="display:inline">
  <%= @contact.first_name %> <%= @contact.last_name %>
</h4>
<%= link_to 'Edit contact', edit_contact_path(@contact), :class => "pull-right" %>

<p>
  <%= @contact.company %><br />
  <%= mail_to @contact.email %><br />
  <%= @contact.phone %>
</p>

<p>
  <%= @contact.street_address %><br />
  <%= @contact.city %>
  <%= @contact.state %>
  <%= @contact.zip %>
</p>

<p>
  <b>Website:</b>
  <%= link_to "#{@contact.website}", "http://#{@contact.website}" %>
</p>

<p>
  <b>LinkedIn:</b>

  <%= link_to "#{@contact.linkedin}", "http://www.linkedin.com/in/#{@contact.linkedin}" %>
</p>

<p>
  <b>Twitter:</b>
  <%= link_to "#{@contact.twitter}", "http://twitter.com/#{@contact.twitter}" %>
</p>

<% if @contact.notes.any? %>
  <div>
    <h4>Notes:</h4>
      <ul>
        <% @contact.notes.each do |note| %>
          <li><%= note.content %> <%= note.created_at.strftime("(%b %e)") %><%= link_to "X", contact_note_path(@contact, note),
                                                                                method: :delete,
                                                                                confirm: "Are you sure you want to delete this note",
                                                                                class: "delete_note" %>
                                                                                </li>
        <% end %>
      </ul>
    </div>
<% end %>

<p><b>Add note</b></p>
<%= render 'notes/form' %>

<%#= link_to "Add note", "#", "data-reveal-id" => "myModal" %>

<div id="myModal" class="reveal-modal">
<a class="close-reveal-modal">×</a>
  <p>Add note for<br><%= @contact.first_name %> <%= @contact.last_name %></p>

</div>


