<!-- This is a form to test mobile inputs -->
<%= nested_form_for(@contact, :html => {:class => "new_contact_form"}) do |f| %>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :first_name, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :first_name, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :last_name, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :last_name, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :company, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.text_field :company, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :email, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.email_field :email, :class => "five" %>
    </div>
  </div>
  
  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :phone, :class => "right" %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.telephone_field :phone, :class => "five" %>
    </div>
  </div>
  
  <%= f.fields_for :notes do |note| %>
    <div class="row">    
      <div class="two mobile-one columns">
        <%= note.label :content, "Note", :class => "right" %>
      </div>
      <div class="ten mobile-three columns">
        <%= note.text_field :content, :class => "five" %>
      </div>
    </div>  
  <% end %>
  
  <div class="row">
    <div id="website_opt_text" class="five columns offset-by-two push-one-mobile display_contact_field">
      <p>Add a website</p>
    </div>
  </div>
  
  <div id="website_opt_input">

    <div class="row">
      <div class="two mobile-one columns">
        <%= f.label :website, :class => "right" %>
      </div>
      <div class="ten mobile-three columns">
        <%= f.url_field :website, :class => "five" %>
      </div>
    </div>
    
  </div>
  
  <div class="row">
    <div id="facebook_opt_text" class="five columns offset-by-two push-one-mobile display_contact_field">
      <p>Add Facebook</p>
    </div>
  </div>

  <div id="facebook_opt_input">

    <div class="row">
      <div class="two mobile-one columns">
        <%= f.label :facebook, :class => "right" %>
      </div>
      <div class="ten mobile-three columns">
        <%= f.text_field :facebook, :class => "five" %>
      </div>
    </div>
    
  </div>
    
    <div class="row">
      <div id="twitter_opt_text" class="five columns offset-by-two push-one-mobile display_contact_field">
        <p>Add Twitter</p>
      </div>
    </div>
    
    <div id="twitter_opt_input">
  
    <div class="row">
      <div class="two mobile-one columns">
        <%= f.label :twitter, :class => "right" %>
      </div>
      <div class="ten mobile-three columns">
        <%= f.text_field :twitter, :class => "five" %>
      </div>
    </div>
    
  </div>
  
  <div class="row">
    <div id="address_opt_text" class="five columns offset-by-two push-one-mobile display_contact_field">
      <p>Add an address</p>
    </div>
  </div>
  
  <div id="address_opt_input">
    
    <div class="row">
      <div class="two mobile-one columns">
        <%= f.label :street_address, :class => "right" %>
      </div>
      <div class="ten mobile-three columns">
        <%= f.text_field :street_address, :class => "five" %>
      </div>
    </div>

    <div class="row">
      <div class="two mobile-one columns">
        <%= f.label :city, :class => "right" %>
      </div>
      <div class="ten mobile-three columns">
        <%= f.text_field :city, :class => "five" %>
      </div>
    </div>

    <div class="row">
      <div class="two mobile-one columns">
        <%= f.label :state, :class => "right" %>
      </div>
      <div class="ten mobile-three columns">
        <%= f.text_field :state, :class => "five" %>
      </div>
    </div>

    <div class="row">
      <div class="two mobile-one columns">
        <%= f.label :zip, :class => "right" %>
      </div>
      <div class="ten mobile-three columns">
        <%= f.text_field :zip, :class => "five" %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="five columns offset-by-two">
    <%= f.submit "Add contact", :class => 'button medium success radius' %>
  </div>
<% end %>

