<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class="row">
  <div class="eight columns centered">
    <div class="header">
      <%= link_to "TinyContacts", contacts_path %>
      <ul>
        <% if user_signed_in? %>
          <li><%= current_user.email %></li>
          <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>     
    </div>  
  </div>     
</div>
  
<div class="row">
  <div class="eight columns centered">
    <%= yield %>
  </div>
</div>

</body>
</html>
