<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>
<body>
  
<div class="row">
  <div class="eight columns centered">
    <div class="header">
      <%= link_to "TinyContacts", contacts_path %>
      <ul>
        <% if current_user %>
          <li><%= current_user.email %></li>
          <li><%= link_to 'Edit profile', edit_user_path(current_user) %></li>
          <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>     
    </div>  
  </div>     
</div>
  
<div class="row">
  <div class="eight columns centered">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    
    <%= yield %>
  </div>
</div>

</body>
</html>
